@model CMS.Application.DTOs.CandidateDTO

<h2>Edit Candidate</h2>

<form asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
 @*    <div class="form-group" style="margin-top:15px;" >

        <label asp-for="PositionId" class="control-label">Position Name</label>
        @if (ViewBag.positions != null)
        {
            <select asp-for="PositionId"  class="form-control">
                <option value=""> Position</option>
                @foreach (var pos in ViewBag.positions)
                {
                    <option value="@pos.Value" selected="@(pos.Value == Model.PositionId.ToString())">@pos.Text</option>
                }

            </select>
        }
        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div>
 *@
    <div class="form-group" style="margin-top: 15px;">

        <label asp-for="CompanyId" class="control-label">Company Name</label>
        @if (ViewBag.CompaniesDTOs != null)
        {
            <select asp-for="CompanyId" class="form-control">
                <option value=""> Company</option>
                @foreach (var c in ViewBag.CompaniesDTOs)
                {
                    <option value="@c.Value" selected="@(c.Value == Model.CompanyId.ToString())">@c.Text</option>
                }

            </select>
        }
        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Experience" class="control-label"></label>
        <input asp-for="Experience" class="form-control" />
        <span asp-validation-for="Experience" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="LinkedInUrl" class="control-label"></label>
        <input asp-for="LinkedInUrl" class="form-control" />
        <span asp-validation-for="LinkedInUrl" class="text-danger"></span>
    </div>
    <div class="form-group">

        <label asp-for="CountryId" class="control-label">Country Name</label>
        @if (ViewBag.CompaniesDTOs != null)
        {
            <select asp-for="CountryId" asp-items="@(ViewBag.CountryDTOs)" class="form-control">
                <option value=""> country </option>

            </select>
        }

        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <input asp-for="CVAttachmentId" class="form-control"  hidden />
    </div>
    <!-- Add other fields similarly -->
   
    <div class="form-group text-end" style="margin-top:15px;">
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<form asp-action="UpdateAttachment" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Upload CV:</label>
        <input type="file" id="file" name="file" class="form-control-file" onchange="validateFileFormat(this)" required />
        <br />
        <span id="fileError" class="text-danger"></span>
    </div>

    

    <!-- Add other fields similarly -->
    <div class="form-group" style="margin-top:19px;">
        <input type="submit" value="Upload" class="btn btn-primary" id="uploadButton" disabled />
    </div>

</form>




<script>
    function validateFileFormat() {
        const allowedExtensions = [".pdf", ".docx", ".png", ".jpg"];
        const fileInput = document.getElementById("file");
        const file = fileInput.files[0];

        if (file) {
            const fileExtension = '.' + file.name.split('.').pop().toLowerCase();
            if (!allowedExtensions.includes(fileExtension)) {
                document.getElementById("fileError").textContent = "Invalid file format. Allowed formats are PDF, DOCX, PNG, and JPG.";
                document.getElementById("uploadButton").disabled = true; // Disable the button
                return false; // Prevent form submission
            } else if (file.size > 4 * 1024 * 1024) { // Check if the file size is greater than 4MB
                document.getElementById("fileError").textContent = "File size exceeds 4MB.";
                document.getElementById("uploadButton").disabled = true; // Disable the button
                return false; // Prevent form submission
            } else {
                document.getElementById("fileError").textContent = "";
                document.getElementById("uploadButton").disabled = false; // Enable the button
                return true; // Allow form submission
            }
        } else {
            // No file selected, show a message or handle it as needed
            return false; // Prevent form submission
        }
    }
</script>


