@model CMS.Application.DTOs.CandidateDTO

<h2>Edit Candidate</h2>

<form asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">

        <label asp-for="PositionId" class="control-label">Position Name</label>
        @if (ViewBag.positions != null)
        {
            <select asp-for="PositionId"  class="form-control">
                <option value=""> Position</option>
                @foreach (var pos in ViewBag.positions)
                {
                    <option value="@pos.Value" selected="@(pos.Value == Model.PositionId.ToString())">@pos.Text</option>
                }

            </select>
        }
        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div>

    <div class="form-group">

        <label asp-for="CompanyId" class="control-label">Company Name</label>
        @if (ViewBag.CompaniesDTOs != null)
        {
            <select asp-for="CompanyId" class="form-control">
                <option value=""> Company</option>
                @foreach (var c in ViewBag.CompaniesDTOs)
                {
                    <option value="@c.Value" selected="@(c.Value == Model.CompanyId.ToString())">@c.Text</option>
                }

            </select>
        }
        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Experience" class="control-label"></label>
        <input asp-for="Experience" class="form-control" />
        <span asp-validation-for="Experience" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LinkedInUrl" class="control-label"></label>
        <input asp-for="LinkedInUrl" class="form-control" />
        <span asp-validation-for="LinkedInUrl" class="text-danger"></span>
    </div>
    <div class="form-group">

        <label asp-for="CountryId" class="control-label">Country Name</label>
        @if (ViewBag.CompaniesDTOs != null)
        {
            <select asp-for="CountryId" asp-items="@(ViewBag.CountryDTOs)" class="form-control">
                <option value=""> country </option>

            </select>
        }

        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="CVAttachmentId" class="form-control"  hidden />
    </div>
    <!-- Add other fields similarly -->
   
    <div class="form-group text-end" style="margin-top:10px;">
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<form asp-action="UpdateAttachment" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Upload CV:</label>
        <input type="file" id="file" name="file" class="form-control-file" required/>
    </div>
    <!-- Add other fields similarly -->
    <div class="form-group">
        <input type="submit" value="upload" class="btn btn-primary" />
    </div>

</form>




