@model IEnumerable<CMS.Application.DTOs.CandidateDTO>
@{
    ViewData["Title"] = "Candidates";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div>
                    <a asp-action="Create" class="btn btn-primary">Create New Record</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Position</th>
            <th>Company</th>
            <th>Email</th>
            <th>Address</th>
            <th>Experience</th>
            <th>Country</th>
            <th>CV</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var candidate in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => candidate.FullName)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Phone)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Name)</td>
                <td>@Html.DisplayFor(modelItem => candidate.CompanyName)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Email)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Address)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Experience)</td>
                <td>@Html.DisplayFor(modelItem => candidate.CountryName)</td>
                <td><a asp-controller="Attachments" asp-action="Download" asp-route-id="@candidate.CVAttachmentId">Download CV</a></td>
                <td>
                    <a class="bx bxs-edit-alt" style="font-size:x-large" asp-action="Edit" asp-route-id="@candidate.Id"></a> |
                    <a class="bx bx-detail" style="font-size:x-large" asp-action="Details" asp-route-id="@candidate.Id"></a> |
                    <a class="ri-delete-bin-2-line text-danger" style="font-size:x-large" asp-action="Delete" asp-route-id="@candidate.Id"></a>
                </td>
            </tr>
        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
