@model IEnumerable<CMS.Application.DTOs.CandidateDTO>

<h2>Candidates</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Position</th>
            <th>Email</th>
            <th>Address</th>
            <th>Experience</th>
            <th>LinkedInUrl</th>
            <th>CV</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var candidate in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => candidate.FullName)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Phone)</td>
                <td>@Html.DisplayFor(modelItem => candidate.DesiredPosition)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Email)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Address)</td>
                <td>@Html.DisplayFor(modelItem => candidate.Experience)</td>
                <td>@Html.DisplayFor(modelItem => candidate.LinkedInUrl)</td>
                <td><a asp-controller="Attachments" asp-action="Download" asp-route-id="@candidate.CVAttachmentId">Download CV</a></td>

                <td>
                    <a asp-action="Edit" asp-route-id="@candidate.CandidateId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@candidate.CandidateId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@candidate.CandidateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


