@model IEnumerable<CMS.Application.DTOs.NotificationsDTO>


<h1>Notifications</h1>


<table class="datatable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>Sent Date</th>

            @* <th>Actions</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            <tr>


                <td>
                    <a href="@Url.Action("Details", "Notifications", new { id = notification.NotificationsId })">
                        @notification.Title
                    </a>
                </td>

                <td>@notification.SendDate</td>




                @*   <td>
            <a class="bx bxs-edit-alt" style="font-size:x-large" asp-action="Edit" asp-route-id="@notification.NotificationsId"></a> |
            <a class="bx bx-detail" style="font-size:x-large" asp-action="Details" asp-route-id="@notification.NotificationsId"></a> |
            <a class="ri-delete-bin-2-line text-danger" style="font-size:x-large" asp-action="Delete" asp-route-id="@notification.NotificationsId"></a>

            </td> *@
            </tr>
        }
    </tbody>
</table>






