@model CMS.Application.DTOs.CarrerOfferDTO


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Carrer Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsOfExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsOfExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
</div>
