
@model IEnumerable<CMS.Application.DTOs.CarrerOfferDTO>

<h2>Carrer Offers</h2>

<p>
    <a class="btn btn-outline-primary font-italic" asp-action="Create">Create New</a>
</p>

<table class="datatable">
    <thead>
        <tr>
            <th>Position</th>
            <th>Years of Experience</th>
            <th>Description</th>
        
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>@item.YearsOfExperience</td>
                <td>@item.LongDescription</td>
                
            
                <td>
                    <a class="bx bxs-edit-alt" style="font-size:x-large" asp-action="Edit" asp-route-id="@item.Id"></a> |
                    <a class="bx bx-detail" style="font-size:x-large" asp-action="Details" asp-route-id="@item.Id"></a> |
                    <a class="ri-delete-bin-2-line text-danger" style="font-size:x-large" asp-action="Delete" asp-route-id="@item.Id"></a>
                </td>
                         
            </tr>
        }
    </tbody>
</table>