@using CMS.Domain.Enums;
@model CMS.Application.DTOs.InterviewsDTO

<h2>Edit</h2>

<form asp-action="Edit" asp-route-id="@Model.InterviewsId">
    <input type="hidden" asp-for="InterviewsId" />


    <div class="form-group">
        <label asp-for="CandidateId" class="control-label">Candidate Name</label>
        @if (ViewBag.candidateDTOs != null)
        {
            <select asp-for="CandidateId" class="form-control">
                <option value="">Select a Candidate Name</option>
                @foreach (var position in ViewBag.candidateDTOs)
                {
                    <option value="@position.Value" selected="@(position.Value == Model.CandidateId.ToString())">@position.Text</option>
                }
            </select>
        }
        else
        {
            <p>No Candidate available.</p>
        }
        <span asp-validation-for="CandidateId" class="text-danger"></span>

    </div>

     <div class="form-group">
        <label asp-for="PositionId" class="control-label">Position</label>
        @if (ViewBag.positionDTOs != null)
        {
            <select asp-for="PositionId" class="form-control">
                <option value="">Select a position</option>
                @foreach (var position in ViewBag.positionDTOs)
                {
                    <option value="@position.Value" selected="@(position.Value == Model.PositionId.ToString())">@position.Text</option>
                }
            </select>
        }
        else
        {
            <p>No positions available.</p>
        }
        <span asp-validation-for="PositionId" class="text-danger"></span>

    </div>


    <div class="form-group">

        <label asp-for="InterviewerId" class="control-label">interviewer</label>
        @if (ViewBag.interviewersDTOs != null)
        {
            <select asp-for="InterviewerId" asp-items="@(ViewBag.interviewersDTOs)" class="form-control">
                <option value="">Select an Interviewer </option>

            </select>
        }
        else
        {
            <p>No interviewers available.</p>
        }
        <span asp-validation-for="InterviewerId" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="ParentId" class="control-label"></label>
        <input asp-for="ParentId" class="form-control" />
        <span asp-validation-for="ParentId" class="text-danger"></span>
    </div>

  
    <div class="form-group">
        <label asp-for="Score" class="control-label"></label>
        <input asp-for="Score" class="form-control" />
        <span asp-validation-for="Score" class="text-danger"></span>
    </div>
    <div class="form-group">

        <label asp-for="StatusId" class="control-label">Status</label>
        @if (ViewBag.StatusDTOs != null)
        {
       

            <select asp-for="StatusId" class="form-control">
                <option value="">Select a Status</option>
                @foreach (var sta in ViewBag.StatusDTOs)
                {
                    if (sta.Text != StatusCode.GetName("PND"))
                    {
                        <option value="@sta.Value">@sta.Text</option>
                    }
                }

            </select>
        }
        else
        {
            <p>No statuses available.</p>
        }
        <span asp-validation-for="StatusId" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Notes" class="control-label"></label>
        <input asp-for="Notes" class="form-control" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>



    <div class="form-group">
        <input asp-for="AttachmentId" class="form-control" hidden />
    </div>

    <div class="form-group  " style="margin-top:10px;">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>

    </div>

</form>


<form asp-action="UpdateAttachment" asp-route-id="@Model.InterviewsId" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Upload Attachment:</label>
        <input type="file" id="file" name="file" class="form-control-file" required />
    </div>
    <!-- Add other fields similarly -->
    <div class="form-group">
        <input type="submit" value="upload" class="btn btn-primary" />
    </div>

</form>