@model CMS.Application.DTOs.InterviewerDTOs

<h2>Interviewer Offer Details</h2>

<div>
    <dl>
        <dt>FullName:</dt>
        <dd>@Model.FullName</dd>
    </dl>
    <dl>
        <dt>Phone:</dt>
        <dd>@Model.Phone</dd>
    </dl>
    <dl>
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
    </dl>
   
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>