@model List<CMS.Application.DTOs.CountryDTO>

<h1>countries</h1>
<p>
<h6><a asp-action="AddCountry">add a new country</a></h6>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Country Name</th>
            <th>number of companies</th>
            <th>Delete Country</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var country in Model)
        {
            <tr>
                <td>@country.Id</td>
                <td>@country.Name</td>
                <td>@country.companyDTOs.Count</td>
                <td>
                    <a asp-action="ShowCompanies" asp-route-id="@country.Id">show companies</a>
                </td>
               
                <td>
                    <form method="post" asp-action="DeleteCountry">
                        <input type="hidden" name="id" value="@country.Id"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                     </form>
                </td>
                <td>
                    <a asp-action="UpdateCountry" asp-route-id="@country.Id">Edit</a>
                </td>
            </tr>
        }

    </tbody>
</table>