@using CMS.Domain.Enums;
@model CMS.Application.DTOs.InterviewsDTO

<h2>Create</h2>

<form asp-action="Create" id="createForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="form-group">

        <label asp-for="CandidateId" class="control-label"><span class="text-danger">*</span> Candidate</label>
        @if (ViewBag.candidateList != null)
        {
            <select asp-for="CandidateId" asp-items="@(ViewBag.candidateList)" class="form-control">
                <option value="">Select a Name</option>

            </select>
        }

        <span asp-validation-for="CandidateId" class="text-danger"></span>
    </div>
   @*  <div class="form-group">
        <label asp-for="CandidateId" class="control-label">Candidate Name</label>
        @Html.DropDownListFor(model => model.CandidateId, (SelectList)ViewBag.candidateList, "Select a Name", new { @class = "form-control" })
        <span asp-validation-for="CandidateId" class="text-danger"></span>
    </div> *@


    <div class="form-group" style="margin-top: 15px;">

        <label asp-for="PositionId" class="control-label"><span class="text-danger">*</span> Position</label>
        @if (ViewBag.positionList != null)
        {
            <select asp-for="PositionId" asp-items="@(ViewBag.positionList)" class="form-control">
                <option value="">Select a Position</option>

            </select>
        }

        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div>
  @*   <div class="form-group">
        <label asp-for="PositionId" class="control-label">Position</label>
        @Html.DropDownListFor(model => model.PositionId, (SelectList)ViewBag.positionList, "Select a Position", new { @class = "form-control" })
        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div> *@


    <div class="form-group" style="margin-top: 15px;">

        <label asp-for="InterviewerId" class="control-label"><span class="text-danger">*</span> Interviewer</label>
        @if (ViewBag.interviewersList != null)
        {
            <select asp-for="InterviewerId" asp-items="@(ViewBag.interviewersList)" class="form-control">
                <option value="">Select an Interviewer</option>

            </select>
        }

        <span asp-validation-for="InterviewerId" class="text-danger"></span>
    </div>

  @*   <div class="form-group">
        <label asp-for="InterviewerId" class="control-label">Interviewer</label>
        @Html.DropDownListFor(model => model.InterviewerId, (SelectList)ViewBag.interviewersList, "Select an Interviewer", new { @class = "form-control" })
        <span asp-validation-for="InterviewerId" class="text-danger"></span>

    </div> *@
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Date" class="control-label"><span class="text-danger">*</span> Date</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger" id="dateValidationMessage"></span>
    </div>
    <div class="form-group"  hidden>
        <label asp-for="ParentId" class="control-label"></label>
        <input asp-for="ParentId" class="form-control" />
        <span asp-validation-for="ParentId" class="text-danger"></span>
    </div>


   

    <div class="form-group text-end" style="margin-top: 10px;">
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>
@* <p>@Html.ValidationSummary()</p> *@
<script>
    
    document.getElementById("createForm").onsubmit = function () {
        return validateDate();
    };

    function validateDate() {
        var dateInput = document.getElementById("Date");
        var date = new Date(dateInput.value);
        var currentDate = new Date();

        if (date <= currentDate) {
            var dateValidationMessage = document.getElementById("dateValidationMessage");
            dateValidationMessage.textContent = "Date must be in the future";
            return false; 
        }

        return true; 
    }
</script>