@using CMS.Domain.Enums
@model CMS.Application.DTOs.InterviewsDTO

<h2>Interviews Detail</h2>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Candidate Name:
        </dt>
        <dd class="col-sm-10">
            @Model.FullName
        </dd>
        <dt class="col-sm-2" style="margin-top: 15px;">
            Level:
        </dt>
        <dd class="col-sm-10" style="margin-top: 15px;">
            @Model.Name
        </dd>
        <dt class="col-sm-2" style="margin-top: 15px;">
            Track:
        </dt>
        <dd class="col-sm-10" style="margin-top: 15px;">
            @Model.TrackName
        </dd>
        <dt class="col-sm-2" style="margin-top: 15px;">
            First Interviewer Name:
        </dt>
       
        <dd class="col-sm-10" style="margin-top: 15px;">
            @Model.InterviewerName
        </dd>

        <dt class="col-sm-2" style="margin-top: 15px;">
            Second Interviewer Name:
        </dt>
        @if (@Model.SecondInterviewerId == null)
        {
            <dd class="col-sm-10" style="margin-top: 15px;">
                There is no second interviewer
                </dd>
        }
        else
        {
        
        <dd class="col-sm-10" style="margin-top: 15px;">
            @Model.SecondInterviewerName
        </dd>
        }
        <dt class="col-sm-2" style="margin-top: 15px;">
           Interview Date:
        </dt>
        <dd class="col-sm-10" style="margin-top: 15px;">
            @Model.Date.ToString("dd/MM/yyyy hh:mm tt")
        </dd>
        <dt class="col-sm-2" hidden>
            Parent ID
        </dt>

        <dt class="col-sm-2" style="margin-top: 15px;">
            First Interview Score:
        </dt>
        <dd class="col-sm-10" style="margin-top: 15px;">
            @if (@Model.FirstInterviewScore != null)
            {
                @Model.FirstInterviewScore
            }
            else
            {
                <text>No score available from the first interview.</text>
            }
        </dd>
        @if (User.IsInRole("HR Manager"))
        {
            <dt class="col-sm-2" style="margin-top: 15px;">
                Actual Experience:
            </dt>

            <dd style="margin-top: 15px;" class="col-sm-10">
                Please check the View History to see the Actual Experience.
            </dd>
        }

        @if (!User.IsInRole("HR Manager") || User.IsInRole("Admin"))
        {
        <dt class="col-sm-2" style="margin-top: 15px;">
            Actual Experience:
        </dt>
       
            <dd style="margin-top: 15px;" class="col-sm-10">
                @if (Model.StatusName == StatusCode.GetName("PND"))
                {
                    <span class="text-danger">Please Add Result</span>
                }
                else
                {
                    @Model.ActualExperience
                }
            </dd>
        }

        <dt class="col-sm-2" style="margin-top: 15px;">
            Status:
        </dt>
        <dd class="col-sm-10" style="margin-top: 15px;">
            @Model.StatusName
        </dd>
        @if (@Model.Notes !=null)
        {
        <dt class="col-sm-2" style="margin-top: 15px;">
            Notes:
        </dt>
        <dd class="col-sm-10" style="margin-top: 15px;">
            @Model.Notes
        </dd>
        }
        else
        {
        <dt class="col-sm-2" style="margin-top: 15px;">
            Notes:
        </dt>
        <dd class="col-sm-10" style="margin-top: 15px;">
            There is no Note added here
        </dd>
        }
        @if (User.IsInRole("Interviewer") || User.IsInRole("HR Manager") || User.IsInRole("Admin"))
        {

            @if (Model.AttachmentId != null)
            {
                <dt class="col-sm-2" style="margin-top: 15px;">
                    Evaluation:
                </dt>
                <dd class="col-sm-10" style="margin-top: 15px;">
                    <a asp-controller="Attachments" asp-action="Download" asp-route-id="@Model.AttachmentId">Download evaluation</a>
                </dd>
            }
            else
            {
                <dt class="col-sm-2" style="margin-top: 15px;">
                    Evaluation:
                </dt>
                <dd class="col-sm-10" style="margin-top: 15px;">
                    There is no Evaluation for this interview
                </dd>
            }

        }
      

    </dl>
</div>
<div class="form-group ">
    @{
        string returnAction = "Index";
        if (ViewBag.PreviousAction== "MyInterviews")
        {
            returnAction = "MyInterviews";
        }
    }
@*    <a asp-action="Edit" asp-route-id="@Model.InterviewsId" class="btn btn-primary">Edit</a>
 *@    <a class="btn btn-secondary" asp-action="@returnAction">Back to List</a>

    
</div>
