@using CMS.Domain.Enums;
@model CMS.Application.DTOs.InterviewsDTO

@{
    ViewData["Title"] = "Edit Interview";
}
<style>
    .custom-dropdown {
     width:30%;
    }
</style>

<form asp-action="Edit" asp-route-id="@Model.InterviewsId" id="editForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">  <input type="hidden" asp-for="InterviewsId" /> </div>

   <div class="form-group">  <input type="hidden" asp-for="StatusId" /> </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="CandidateId" class="control-label"><span class="text-danger">*</span> Candidate Name</label>
        @Html.DropDownListFor(model => model.CandidateId, (SelectList)ViewBag.candidateList, "Select a Name", new { @class = "form-control custom-dropdown" })
        <span asp-validation-for="CandidateId" class="text-danger" id="candidateIdError"></span>
    </div>

    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="PositionId" class="control-label"><span class="text-danger">*</span> Level</label>
        @Html.DropDownListFor(model => model.PositionId, (SelectList)ViewBag.positionList, "Select a Position", new { @class = "form-control custom-dropdown" })
        <span asp-validation-for="PositionId" class="text-danger" id="positionIdError"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="TrackId" class="control-label"><span class="text-danger">*</span> Track</label>
        @if (ViewBag.Tracks != null)
        {
            <select style="width: 30%;" asp-for="TrackId" asp-items="@(ViewBag.Tracks)" class="form-control">
                <option value="">-- Select a track --</option>
            </select>
        }

        <span asp-validation-for="TrackId" class="text-danger"></span>
        <span id="trackIdError" class="text-danger"></span>
    </div>
    <div class="card" style="width: 400px; margin-top: 20px; padding: 20px;">

        <div class="form-group">
            <label style="font-size: medium;">First Interview</label>
            <div style="width: 78%;">
                <label asp-for="InterviewerId" class="control-label">#1 <span class="text-danger">*</span></label>
                @if (ViewBag.interviewersList != null)
                {
                    <select style="width: 100%;" asp-for="InterviewerId" asp-items="@(ViewBag.interviewersList)" class="form-control">
                        <option value="">-- Select an Interviewer --</option>
                    </select>
                }
                <span asp-validation-for="InterviewerId" class="text-danger" id="interviewerIdError"></span>
            </div>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <label asp-for="SecondInterviewerId" class="control-label">#2 <span>(optional)</span></label>
            <div style="width: 78%;">
                @if (ViewBag.interviewersList != null)
                {
                    <select style="width: 100%;" asp-for="SecondInterviewerId" asp-items="@(ViewBag.interviewersList)" class="form-control">
                        <option value="">-- Select Second Interviewer --</option>
                    </select>
                }
                <span asp-validation-for="SecondInterviewerId" class="text-danger"></span>
            </div>
        </div>

    </div>



    <div class="form-group" style="margin-top: 30px;">
        <label asp-for="ArchitectureInterviewerId" class="control-label">Architecture Interviewers <span>(optional)</span></label>
        @if (ViewBag.architecturesList != null)
        {
            <select style="width: 30%;" asp-for="ArchitectureInterviewerId" asp-items="@(ViewBag.architecturesList)" class="form-control">
                <option value="">-- Select Architecture Interviewer --</option>
            </select>
        }
        <span asp-validation-for="ArchitectureInterviewerId" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Date" class="control-label"><span class="text-danger">*</span> Date</label>
        <input style="width:30%;" asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger" id="dateValidationMessage"></span>
    </div>



    <div class="form-group">
        <input asp-for="AttachmentId" class="form-control" hidden />
    </div>

    <div class="form-group  " style="margin-top:20px;">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>

    </div>

</form>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    $(document).ready(function () {
        $('#editForm').submit(function (e) {
            e.preventDefault();

            var isValid = true;

            var candidateId = $('#CandidateId').val();
            var positionId = $('#PositionId').val();
            var interviewerId = $('#InterviewerId').val();
            var date = $('#Date').val();

            // Validate Candidate
            if (!candidateId) {
                $('#candidateIdError').text('Candidate is required.');
                isValid = false;
            } else {
                $('#candidateIdError').text('');
            }

            // Validate Position
            if (!positionId) {
                $('#positionIdError').text('Level is required.');
                isValid = false;
            } else {
                $('#positionIdError').text('');
            }

            // Validate Track
            if (!positionId) {
                $('#trackIdError').text('Track is required.');
                isValid = false;
            } else {
                $('#trackIdError').text('');
            }

            // Validate #1 (InterviewerId)
            if (!interviewerId) {
                $('#interviewerIdError').text('First Interviewer is required.');
                isValid = false;
            } else {
                $('#interviewerIdError').text('');
            }

            // Validate Date
            if (!date) {
                $('#dateValidationMessage').text('Date is required.');
                isValid = false;
            } else {
                $('#dateValidationMessage').text('');
            }

            // Show confirmation dialog if the form is valid
            if (isValid) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Do you want to submit the changes?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, submit it!',
                    cancelButtonText: 'No, cancel!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user clicks "Yes", proceed with form submission
                        $('#editForm')[0].submit();
                    }
                });
            }
        });
    });
</script>
