@using CMS.Domain.Enums;

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
@model IEnumerable<CMS.Application.DTOs.InterviewsDTO>
@{
    ViewData["Title"] = "Interviews";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">

                @if (User.IsInRole("Admin"))
                {

                }
                else
                {
                    <div>
                        <a asp-action="Create" class="btn btn-primary">Schedule New Interview</a>
                    </div>
                }

            </div>
            <div class="card-body">
                <table id="add-rows" class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Candidate Name</th>
                            <th>Position</th>
                            <th>Interviewer</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th hidden>Parent ID</th>
                            <th>Score</th>
                            <th>Actual Experience</th>
                            <th hidden>Notes</th>
                            <th>Evaluation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@item.InterviewerName</td>
                                    <td>@item.Date</td>
                                    <td>@item.StatusName</td>
                                    <td hidden>@item.ParentId</td>
                                    <td>@item.Score</td>
                                    <td>@item.ActualExperience</td>
                                    <td hidden>@item.Notes</td>
                                    @if (item.AttachmentId != null)
                                    {
                                        <td><a asp-controller="Attachments" asp-action="Download" asp-route-id="@item.AttachmentId">Download evaluation</a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>
                                        @if (item.InterviewerRole == "Interviewer" && item.StatusName == StatusCode.GetName("PND"))
                                        {
                                            <a class="bx bxs-edit-alt" style="font-size:x-large" asp-action="Edit" asp-route-id="@item.InterviewsId" asp-route-idd="@item.StatusId"></a>
                                            <a class="ri-delete-bin-2-line text-danger" style="font-size:x-large" asp-action="Delete" asp-route-id="@item.InterviewsId"></a>
                                        }

                                        <a class="bx bx-detail" style="font-size:x-large" asp-action="Details" asp-route-id="@item.InterviewsId" asp-route-previousAction="Index"></a> 
                                       
                                    </td>

                                </tr>
                            }
                    </tbody>
                </table>


            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#add-rows').DataTable();

    });
</script>
