@model IEnumerable<CMS.Application.DTOs.InterviewsDTO>

<h2>My Interviews</h2>

<table class="datatable">
    <thead>
        <tr>
            <th>Candidate Name</th>
            <th>Position</th>
            <th>Interviewer</th>
            <th>Date</th>
            <th hidden>Parent ID</th>
            <th>Score</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Evaluation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@item.InterviewerName</td>
                <td>@item.Date</td>
                <td hidden>@item.ParentId</td>
                <td>@item.Score</td>
                <td>@item.StatusName</td>
                <td>@item.Notes</td>
                @if (item.AttachmentId != null)
                {
                    <td><a asp-controller="Attachments" asp-action="Download" asp-route-id="@item.AttachmentId">Download evaluation</a></td>
                }
                else
                {
                    <td> </td>
                }
                <td>
                    <a class="bx bx-detail" style="font-size:x-large" asp-action="Details" asp-route-id="@item.InterviewsId"></a> |
                    <a asp-action="UpdateAfterInterview" asp-route-id="@item.InterviewsId" asp-route-idd="@item.InterviewerId"> Add the interview Result</a>                 
                </td>
            </tr>
        }
    </tbody>
</table>



