@using CMS.Domain.Enums;
@model CMS.Application.DTOs.InterviewsDTO

<h2>Update Interview Result</h2>

<form asp-action="UpdateAfterInterview" id="updateForm" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="InterviewsId" />
    <input type="hidden" asp-for="InterviewerId" />
    <input type="hidden" asp-for="EvalutaionFormId" />
    <input type="hidden" asp-for="isUpdated"/>
    @if (User.IsInRole("Interviewer"))
    {
        <div class="form-group">
            <label asp-for="Score">Score out of 5:</label>
            <input asp-for="Score" class="form-control" />
            <span asp-validation-for="Score" class="text-danger"></span>
        </div>
    }
   

    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="Notes">Notes:</label>
        <textarea asp-for="Notes" class="form-control"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 15px;">

        <label asp-for="StatusId" class="control-label">Status</label>
        @if (ViewBag.StatusDTOs != null)
        {
          @*  <select asp-for="StatusId" asp-items="@(ViewBag.StatusDTOs)" class="form-control">
                <option value="">Select a Status</option>

            </select>*@

            <select asp-for="StatusId" class="form-control">
                <option value="">Select a Status</option>
                @foreach (var sta in ViewBag.StatusDTOs)
                {
                    if (sta.Text != StatusCode.GetName("PND"))
                    {
                        <option value="@sta.Value">@sta.Text</option>
                    }
                }
                
            </select>
        }
        else
        {
            <p>No statuses available.</p>
        }
        <span asp-validation-for="StatusId" class="text-danger"></span>

    </div>
    @if (User.IsInRole("Interviewer"))
    {
        @if (Model.EvalutaionFormId != null)
        {
            <div class="alert alert-info" style="margin-top: 15px;">
            <p>

                    Please download the evaluation form by clicking the link below. After making the necessary modifications, please upload the modified form using the file input field.
          
            </p>
                <a asp-controller="Attachments" asp-action="Download" asp-route-id="@Model.EvalutaionFormId ">Download Evaluation Form</a>
             </div>
        }
        else
        {
            <p>

            </p>
        }


        <div class="form-group" style="margin-top: 15px;">
            <label for="file">Upload An evaluation:</label>
            <input type="file" id="file" name="file" class="form-control-file" onchange="validateFileFormat(this)"  />
         <br>
            <span asp-validation-for="AttachmentId" class="text-danger"></span>
            <span id="fileError" class="text-danger"></span>
        </div>
    }
  <p>
        <div class="form-group text-end">
            <a class="btn btn-secondary" asp-action="MyInterviews">Back to Interview List</a>
            <button type="submit" class="btn btn-primary">Save</button>

        </div>
  </p>

    
</form>


<script>
    function validateFileFormat(input) {
        const allowedExtensions = [".pdf", ".docx", ".png", ".jpg", ".xlsx"];
        const file = input.files[0];

        if (file) {
            const fileExtension = '.' + file.name.split('.').pop().toLowerCase();
            if (!allowedExtensions.includes(fileExtension)) {
                document.getElementById("fileError").textContent = "Invalid file format. Allowed formats are PDF, DOCX, xlsx, PNG, and JPG.";
            } else if (file.size > 4 * 1024 * 1024) { // Check if the file size is greater than 4MB
                document.getElementById("fileError").textContent = "File size exceeds 4MB.";
            } else {
                document.getElementById("fileError").textContent = "";
            }
        }
    }
</script>



@*<p>@Html.ValidationSummary()</p>*@
