@model IEnumerable<CMS.Application.DTOs.TemplatesDTO>

<h2>Templates</h2>

<p>
<a asp-action="Create" class="btn btn-outline-primary font-italic">Create New</a>
</p>

<table class="datatable">
    <thead>
        <tr>
            @* <th>Name</th> *@
            <th>Title</th>
            <th>BodyDesc</th>
            <th>Tamplate Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var template in Model)
        {
            <tr>
                @* <td>@template.Name</td> *@
                <td>@template.Title</td>
                <td>@template.BodyDesc</td>
                <td>@template.Name</td>
                <td>
                    <a class="bx bxs-edit-alt" style="font-size:x-large" asp-action="Edit" asp-route-id="@template.TemplatesId"></a> |
                    <a class="bx bx-detail" style="font-size:x-large" asp-action="Details" asp-route-id="@template.TemplatesId"></a> |
                    <a class="ri-delete-bin-2-line text-danger" style="font-size:x-large" asp-action="Delete" asp-route-id="@template.TemplatesId"></a>

                </td>
            </tr>
        }
    </tbody>
</table>
